<section>
  <div class="py-12 mt-10">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center mb-8">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white">{{'navbar.links.popularPeople' | translate }}</h2>
        <div class="flex space-x-2">
          <button class="px-4 py-2 bg-gray-200 dark:bg-gray-800 rounded-lg text-gray-800 dark:text-white font-medium">
            {{"people.actors" | translate}}
          </button>
          <button class="px-4 py-2 bg-gray-200 dark:bg-gray-800 rounded-lg text-gray-800 dark:text-white font-medium">
            {{"people.directors" | translate}}
          </button>
        </div>
      </div>
         <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-6">
         @for ( person of popularPeople(); track person.id) {
        <div  class="group relative cursor-pointer" [routerLink]="['/actorDetails',person.id]">
          <div class="relative rounded-xl overflow-hidden mb-3 h-64">
            <img 
              [src]="'https://image.tmdb.org/t/p/original'+person.profile_path  "
              [alt]="person.name"
              class="w-full h-full object-cover group-hover:opacity-80 transition duration-300"
            >
            
            <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-3 opacity-0 group-hover:opacity-100 transition duration-300">
              <p class="text-white text-xs line-clamp-2">
               {{"people.knownFor" | translate}}
                @if (person.known_for && person.known_for[0]) {
                <span>
                  {{ person.known_for[0].title || person.known_for[0].name }}
                </span>
              }
              </p>
            </div>
          </div>
                    <div>
            <h3 class="font-bold text-gray-900 dark:text-white group-hover:text-red-600 dark:group-hover:text-red-400 transition duration-300">
              {{ person.name }}
            </h3>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              {{ person.known_for_department }}
            </p>
          </div>
        </div>
      }
      </div>
        <div class="flex justify-center mt-8">
        <nav class="flex items-center space-x-2">
          <button (click)="prevPage()"
            id="prevPageBtn"
            class="px-4 py-2 cursor-pointer rounded-lg border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="pageNumber() ==1"
          >
            {{'pagination.prev_button' | translate}}
          </button>
          
          <div class="flex space-x-2" id="pageNumbers">
            <button
              (click)="loadPopularPeople(1)" 
              [ngClass]="{
                'bg-red-600 text-white border-red-600': pageNumber() === 1,
                'bg-white text-gray-900 dark:bg-gray-800 dark:text-white border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700 transition': pageNumber() !== 1
              }"
              class="page-number cursor-pointer px-4 py-2 rounded-lg border"
            >
            {{'pagination.page_number1' | translate}}
            </button>
          
            <button 
              (click)="loadPopularPeople(2)"
              [ngClass]="{
                'bg-red-600 text-white border-red-600': pageNumber() === 2,
                'bg-white text-gray-900 dark:bg-gray-800 dark:text-white border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700 transition': pageNumber() !== 2
              }"
              class="page-number cursor-pointer px-4 py-2 rounded-lg border"
            >
            {{'pagination.page_number2' | translate}}
            </button>  
          
            <button
              (click)="loadPopularPeople(3)"
              [ngClass]="{
                'bg-red-600 text-white border-red-600': pageNumber() === 3,
                'bg-white text-gray-900 dark:bg-gray-800 dark:text-white border-gray-300 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700 transition': pageNumber() !== 3
              }"
              class="page-number cursor-pointer px-4 py-2 rounded-lg border"
            >
            {{'pagination.page_number3' | translate}}
            </button>
          </div>
          
          
          <button (click)="nextPage()"
            id="nextPageBtn"
            class="px-4 py-2 cursor-pointer rounded-lg border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 transition"
          >
          {{'pagination.next_button' | translate}}
          </button>
        </nav>
      </div>
    </div>
  </div>
</section>