/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));
::selection {
    background-color: #e50914;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-left: 1px solid #333333;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#d4af37, #f1e5ac);
    border-radius: 7px;
    border: 2px solid #000000;
}

  
  .max-h-96 {
    max-height: 24rem;
  }